body {
    margin: 0;
    padding: 0;
}

.kotakisi {
    display: grid;
    place-items: center;
    text-align: center;
    grid-gap: 20px;
    height: 40vh; 
    font-family: ubuntu, sans-serif;
}

.kotakisi img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    margin-top: 50px;
}

.identitas {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 55px;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 4px;
    background-color: #51555a;
    color: white;
    text-align: center;
    font-size: 26px;
    transition: background-color 0.3s ease;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.identitas p {
    margin: 0;
    line-height: 2;
}

.tabeluser {
    border-collapse: collapse;
    width: 70%;
    line-height: 2;
}

.tabeluser td, th{
    border: 1px solid;
    padding: 8px;
}

.tabeluser th{
    background-color: #51555a;
    color: white;
}

.tombol {
    color: white;
    background-color: darkblue;
    padding: 15px 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 14px;
}

.tombolcek {
    color: white;
    background-color: #51555a;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 12px;
}